
  @import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Neuton:wght@200;400;700&display=swap');

/*font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Neuton', serif;*/

:root{
    --brown:rgb(121, 73, 19);
    --dark:#111827;
    --white:#F3F4F6;
    font-family: 'Neuton', serif;
    background-color: var(--white);
    color: var(--dark);
}

