
  @import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Neuton:wght@200;400;700&display=swap');

/*font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Neuton', serif;*/

:root{
    --brown:rgb(102, 84, 5);
    --dark:#111827;
    --white:#F3F4F6;
    font-family: 'Neuton', serif;
    background-color: var(--white);
    color: var(--dark);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.maxymarianne{
  background-image: url('./img/foto1.jpeg');
  background-size: cover; /* Para que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed; /* Fija la imagen en su posición */
  background-position: center top; /* Centra la imagen de fondo */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 20px;
}

.maxymarianne .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maxymarianne .content .circulo{
  width: 420px;
  height: 420px;
  overflow: hidden;
}

.maxymarianne .content .circulo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .7;
}

.maxymarianne .content .text{
position: absolute;
text-align: center;
z-index: 2;
font-size: 16px;
}

.maxymarianne .content .text .boda{
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 3em;

}

.maxymarianne .content .text .name{
  font-size: 3em;
  color: var(--brown);
  font-weight: 200;
  text-transform: uppercase;
}

.maxymarianne .content .text .date{
  font-size: 1.4em;
}

.maxymarianne .content .text img{
  width: 40%;
}

.gallimg .imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

.gallimg .imgContainer > div{
  width: 420px;
  height: 420px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.gallimg .imgContainer > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallimg .imgContainer > div .hover {
  position: absolute;
  background-color: var(--dark);
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  font-family: 'Monsieur La Doulaise', cursive;
  color: var(--white);
  z-index: 2;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
  cursor: pointer;
  padding: 30px;
}

.gallimg .imgContainer > div:nth-child(odd) .hover {
  background-color: var(--brown);
}

.gallimg .imgContainer > div .hover p {
  overflow: visible;
}

.gallimg .imgContainer > div .opacity{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .gallimg .imgContainer > div{
    width: 100vw;
    height: calc(100vw - 60px);
    border-radius: 50%;
    overflow: hidden;
  }

}


@media only screen and (max-width: 400px) {
  .maxymarianne .content .text{
    font-size: .9rem
    }
    .maxymarianne .content .circulo{
      width: 330px;
      height: 330px;
      overflow: hidden;
    }
}